
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Dongle&display=swap');

* {
    font-family: "Dongle", sans-serif;
  }
.its_title{
  text-align: center;
  color : skyblue;
  margin-top:1.5rem ;
  margin-bottom:1.5rem ;
}  
  